/* RESET */
html, body, div, span, button, applet, main, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, samp,
small, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea, {
	margin: 0;
	padding: 0;
	border: 0;
  outline: 0;
  font: inherit;
	color: inherit;
	text-decoration: inherit;
  vertical-align: inherit;
  text-align: inherit;
  box-sizing: inherit;
	background: transparent;
}

ul {
	list-style: none;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
	outline: 0
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}



/* HOME */
html {
  height: 100%;
}
body {
  height: 100%;
  min-width: 768px;
  font-size: 13px;
  line-height: 1rem;
  background: #FFF;
  color: #555459;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
	font-family: 'Open Sans', sans-serif;
}

#main {
	width: 100%;
}

.home-container {
  height: 100vh;
  display: flex;
}

/* SIDEBAR */

.sidebar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-width: 220px;
  width: 220px;
  background: #4D394B;
  z-index: 201;
  border-right: 1px solid #E8E8E8;
  box-sizing: content-box;
  visibility: visible;
  height: 100%;
}

/* SIDEBAR HEADER */

.sidebar-header h1 {
  color: #FFFFFF;
  font-weight: bold;
	font-size: 28px;
	padding-left: 10px;
}

.sidebar-header h2 {
  display: inline;
}

.sidebar-container h2 {
  font-size: 1em;
  color: #AB9BA9;
}

.hidden {
  display: none;
}

#logout-dropdown {
  border: 2px solid black;
  background: white;
  color: black;
  position: absolute;
}

#fa-bars-menu {
  color: white;
  position: absolute;
  top: 33px;
  right: 13px;
  font-size: 1.2em;
}

#fa-online-status {
  margin-left: 13px;
  margin-right: 8px;
  font-size: .75em;
  color: #38978D;
}

/* SIDEBAR CHANNELS */

.public-channels-header, .private-channels-header {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  left: 14px;
	margin-top: 30px;
}

.public-channels-list, .private-channels-list {
	padding-left: 25px;
}

.fa-plus-square {
  position: absolute;
  right: 28px;
}

.channel-list-container a {
  color: #AB9BA9;
}

.channel-list-container span {
	font-size: 12px;
	color: #7C6A7A;
	padding-left: 2px;
	vertical-align: top;
}

.private-channels-list li {

}

.list-item {
	padding-right: 15px;
}

#notifications {
	color: white;
}

/* SIDEBAR FOOTER */

.sidebar-footer {
  margin-top: auto;
  margin-bottom: 15px;
}

.sidebar-footer p {
  color: white;
  margin-left: 13px;
}

.sidebar-footer li {
  margin-top: 15px;
}

/* CHAT VIEW */

#chat-view-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.all-messages-container {
	height: 100%;
}

#chat-list-and-detail-container {
	display: flex;
	flex-direction: row;
}

.chat-message-list {
	flex: 1 0 500px;
}

#detail-view {
	flex: 1;
}

/* CHAT HEADER */

#chat-team-header {
	border-bottom: 1px solid #E8E8E8;
	background-color: #fff;
	font-weight: bold;
	color: #2C2D30;
	width: 100%;
	font-size: 18px;
	display: inline-block;
	height: 7vh;
	box-sizing: border-box;
	padding-top: 9px;
	font-family: 'Open Sans', sans-serif;
}

#detail-view-toggle {
	cursor: pointer;
	position: absolute;
	top: 22px;
}

#channel-count-of-users {
	font-size: 12px;
	font-weight: normal;
	padding-left: 5px;
}

#chat-header-content {
	padding-top: 5px;
	padding-left: 20px;
	position: relative;
}

/* CHAT FOOTER */

#new-message-footer {
	position: fixed;
	bottom: 0px;
	width: calc(100% - 250px);
	margin-bottom: 2rem;
}

#new-message-input {
	margin: 0 1.25rem;
	padding: 0 12px;
	font-size: 14px;
	color: #3D3C40;
  border: 2px solid #717274;
	border-radius: 6px;
}

#message-content-input {
	min-height: 41px;
	width: 100%;
	border: none;
}

/* CHAT ITEMS */

#message-avi {
	width: 38px;
	height: 38px;
}

/* DETAIL VIEW */

#detail-view {
	display: flex;
	flex-flow: column;
}

#detail-view-header {
	color: #000;
	background: #F7F7F7;
	height: 60px;
	display: flex;
	align-items: center;
}

#detail-view-exit {
  font-size: 20px;
	margin-left: auto;
	padding-right: 15px;
}

#detail-view-exit.fa.fa-times::before{
	cursor: pointer;

}

#about-team-header {
	color: #000;
	font-weight: bold;
	font-size: 18px;
	padding-left: 20px;
	margin: 0;
}
